{% extends 'base.html.twig' %}

{% block title %}Hello TestCotrollerController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Bonjour !</h1>

    Ceci est un formulaire pour nous contacter. <br>

    {{ form_start(contactForm,{'attr':{'class':'mt-3'}}) }}
        {% if successMessage is not null %}
            <div class="alert alert-success">{{ successMessage }}</div>
        {% endif %}
        {% if form_errors(contactForm.Internaute.email) %}
             <div class="alert alert-danger" role="alert">
                 {{form_errors(contactForm.Internaute.email)}}
             </div>
        {% endif %}
        {% if form_errors(contactForm.Internaute.nom) %}
            <div class="alert alert-danger" role="alert">
                {{form_errors(contactForm.Internaute.nom)}}
            </div>
        {% endif %}
        {% if form_errors(contactForm.Question.question) %}
            <div class="alert alert-danger" role="alert">
                {{form_errors(contactForm.Question.question)}}
            </div>
        {% endif %}
        <div class="mb-3">
            {{ form_label(contactForm.Internaute.nom,'Nom',{'label_attr':{'class':'form-label'}}) }}
            {{ form_widget(contactForm.Internaute.nom,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(contactForm.Internaute.email,'Email',{'label_attr':{'for':'email','class':'form-label'}}) }}
            {{ form_widget(contactForm.Internaute.email,{'attr':{'id':'email','class':'form-control'}}) }}
        </div>
        <div class="mb-3">
            {{ form_label(contactForm.Question.question,'Question',{'label_attr':{'for':'question','class':'form-label'}}) }}
            {{ form_widget(contactForm.Question.question,{'attr':{'class':'form-control'}}) }}
        </div>
    {{ form_end(contactForm) }}
</div>
{% endblock %}
