{% extends 'admin/admin_base.html.twig' %}
{% block body %}
    <div class="container-fluid w-75 mt-5 ">
        <h1 class="mb-5">Liste des questions</h1>
        {% if questions | length %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Email</th>
                    <th scope="col">Question</th>
                    <th scope="col">Vu</th>
                </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr>
                        <th scope="row">{{ question.nom }}</th>
                        <!--the column below generates a link to a page the shows all the questions of the current email -->
                        <td><a class="link-secondary" href={{ path('adminInternauteShow',{'id':question.internauteId}) }} >{{ question.email }}</a></td>
                        <td>{{ question.question }}</td>
                        <td>

                            <div class="form-check">
                                <a href="{{ path('questionCheck',{"id":question.id}) }}">
                                    <input class="form-check-input questionsCheck" type="checkbox" {% if question.vu %} checked {% endif%}>
                                </a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h1 class="mb-5">Questions Introuvable!</h1>
        {% endif %}
    </div>
{% endblock %}